.footer {
  grid-column: full-start/full-end;
  height: 5rem;
  padding: 5rem;
  background-color: hsl(23, 88%, 95%);

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.4rem;
    color: hsl(23, 88%, 25%);
    font-weight: 700;
  }

  @media only screen and (max-width: 335px) {
    text-align: center;
  }
}
