.home {
  grid-column: full-start / full-end;
  margin-bottom: 5rem;
  align-content: center;
  background-color: rgb(167, 107%, 67%);
  // background-image: linear-gradient(
  //     45deg,
  //     hsla(24, 43%, 46%, 1) 0%,
  //     hsla(24, 43%, 46%, 0.93) 50%,
  //     hsla(24, 100%, 72%, 0.53) 100%
  //   ),
  //   url(../img/giraffeeBac.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: hsl(0, 0%, 100%);

  display: grid;
  grid-template-columns: 2fr 1fr;

  &__text {
    padding: 10rem 0 5rem 10rem;

    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    grid-gap: 1.5rem;
    // grid-auto-flow: row;

    a {
      justify-self: start;
      align-self: start;
      padding: 1rem 3rem;
      border-radius: 6px;
      border: 3px solid hsl(188, 72%, 100%);
      background-color: transparent;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.8rem;
      color: hsl(0, 0%, 100%);
      transition: 0.5s;

      &:hover {
        color: #f2b705;
        border-color: #f2b705;
      }
    }

    &--developer {
      align-self: end;
    }

    &--africa {
      color: #f2b705;
    }

    p {
      color: hsl(0, 0%, 90%);
    }

    @media only screen and (max-width: 650px) {
      padding: 10rem 0 5rem 5rem;
    }
    @media only screen and (max-width: $bp-phone) {
      padding: 2rem 0 0 5rem;
    }

    @media only screen and (max-width: $bp-min) {
      grid-template-columns: minmax(20rem, 30rem);
    }
  }

  //

  @media only screen and (max-width: $bp-small) {
    background-position: 70%;
  }

  @media only screen and (max-width: $bp-phone) {
    background-image: linear-gradient(
      45deg,
      hsla(24, 43%, 46%, 1) 0%,
      hsla(24, 43%, 46%, 0.93) 50%,
      hsla(24, 100%, 72%, 0.53) 100%
    );
  }
  @media only screen and (max-width: $bp-min) {
    grid-template-columns: 1fr;
  }
  @media only screen and (max-width: 340px) {
    align-content: start;
    padding: 5rem 0;
  }
}
